<div class="signup-musician">
  <h1>Sign Up as a Musician</h1>

  <form method="POST" action="/signup/musician">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Bingo Tophat" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="bingo@tophat.com" required>
        <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="******" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
          placeholder="123-456-7890">
      </div>
      <div class="form-group col-md-6">
        <label for="genre">Genre</label>
        <input type="text" class="form-control" id="genre" name="genre" placeholder="emo forever">
      </div>
    </div>
    <div class="form-group">
        <label for="bio">Bio</label>
        <textarea class="form-control" name="bio" id="bio" rows="3" placeholder="A little bit about me..."></textarea>
      </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>

  {{!-- <form method="POST" action="/signup/musician">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>


    <label for="phoneNumber">Enter your phone number:</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">

    <label for="genre">Enter your genre:</label>
    <input type="text" id="genre" name="genre">

    <label for="bio">Please give a brief bio:</label>
    <input type="text-area" id="bio" name="bio">


    <button type="submit">Sign Up</button>
  </form> --}}

  {{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
  {{/if}}
</div>