<h1>Sign In</h1>

<form method="POST" action="/signin">
  <label for="email">Email</label>
  <input type="email" name="email" id="email">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <label for="type">Please select your profile type:</label>
  <select name="type" id="type">
    <option value="musician">Musician</option>
    <option value="venue">Venue</option>
  </select>
  <button type="submit">Sign In</button>
</form>

{{#if errorMessage}}
<div class="error">{{errorMessage}}</div>
{{/if}}