<div>
    <div class="landing-musician">
        <h1>Trying to Plan Your Tour?</h1>
        <h4>Gigzilla will help you contact venues in any city</h4>
        <a href='/signup/musician'><button type="button" class="btn btn-primary">MUSICIAN GET STARTED</button></a>
    </div>

    <div class="landing-venue">
        <h1>Trying to Book Talent For Your Venue</h1>
        <h4>Gigzilla will help find tours that will coming to your area</h4>
        <a href='/signup/venue'><button type="button" class="btn btn-primary">VENUE GET STARTED</button></a>
    </div>

    <div class="features">
        <h2>Main Features:</h2>
        <div class="features-musician">
            <h3>FOR MUSICIANS</h3>
            <div class="features-list">
                <div class="features-item">
                    <img src="/images/tour.png">
                    <p>Build tours that go to many cities</p>
                </div>
                <div class="features-item">
                    <img src="/images/location.png">
                    <p>See venues in each city</p>
                </div>
                <div class="features-item">
                    <img src="/images/email.png">
                    <p>Contact venues and confirm one</p>
                </div>
            </div>
        </div>
        <div class="features-venue">
            <h3>FOR VENUES</h3>
            <div class="features-list">
                <div class="features-item">
                    <img src="/images/tour2.png">
                    <p>See which tours will be stopping in your city</p>
                </div>
                <div class="features-item">
                    <img src="/images/email.png">
                    <p>Contact tours</p>
                </div>
                <div class="features-item">
                    <img src="/images/confirm.png">
                    <p>Book tours for your venue</p>
                </div>
            </div>
        </div>
    </div>

</div>