<div>
    <h3>Welcome to</h3>
    <h1>GIGZILLA</h1>
    
    <p>What type of user are you?</p>
    <div>
        <a href='/signup/musician'><button type="button" class="btn btn-primary">Musician</button></a>
        <a href='/signup/venue'><button type="button" class="btn btn-danger">Venue</button></a>
    </div>
    <p>If You Already Have An Account</p>
    <a href='/signin'>SIGN IN</a>
</div>