<div>
<h1>GIGZILLA</h1>

<a href='/signin'><button type="button" >Sign In</button></a>
<a href='/signup/musician'><button type="button" >Sign up as Musician</button></a>
<a href='/signup/venue'><button type="button" >Sign up as Venue</button></a>


</div>