<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Gigzilla</title>
    {{!-- Bootstrap --}}
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
</head>
<body>

    {{!-- Navbar --}}
    <nav>
      <ul>
        <li id="to-left">
          <p><a href="/home/musician">Home</a></p>
        </li>
        <li id="to-right">
          <a href="/home/musician/profile">Profile</a> <span> | </span>
        </li>
        <li id="to-right">
          <a href="/signout">Sign Out</a> <span> | </span>
        </li>
      </ul>
    </nav>

    {{{body}}}
</body>
</html>