<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gigzilla</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <nav>
      <ul>
        <li id="to-left">
          <p><a href="/home/venue">Home</a></p>
        </li>
        <li id="to-right">
          <a href="/profile/venue">Profile</a> <span> | </span>
        </li>
        <li id="to-right">
          <a href="/signout">Sign Out</a> <span> | </span>
        </li>
      </ul>
    </nav>
    {{{body}}}
</body>
</html>