/* Main Styles */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#content-wrap {
  flex: 1 0 auto;
}

/* form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
} */

/* Navbar Styles */
.navbar-custom {
  background-color: #121212;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
  font-family: 'Modak', cursive;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

.navbar-toggler {
  border: none;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FF9C00;
}

.navbar-custom .navbar-nav .nav-link {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-right: 20px;
  padding: 8px 0;
}

/* Buttons */
.btn-warning {
  background-color: #FF9C00;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  padding: 0 20px;
  margin: 10px 15px 10px 0;
}

.btn-primary {
  background-color: #FF9C00;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  border-radius: 20px;
  border-color: #FF9C00;
  padding: 2px 26px;
  margin: 10px 0;
}

.btn-primary:hover {
  background-color: #121212;
  border-color: #121212;
}

.btn-warning:hover {
  color: #121212;
  background-color: white;
  border-color: white;
}

/* Landing Page Styles */
.landing-musician {
  background-image: url(/images/landing-musician.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 20px;
  height: 450px;
  color: white;
  text-align: center;
}

.landing-venue {
  background-image: url(/images/landing-venue.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 20px;
  height: 450px;
  color: white;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', sans-serif;
}

h1 { 
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px black;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px black;
  padding: 0 30px;
}

.features {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2 {
  font-weight: 700;
}

.features-musician h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
  color: #851191;
}

.features-venue h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
  color: #0082DE;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.features-item {
  width: 200px;
  margin-bottom: 10px;
}

.features-item img {
  width: 120px;
  margin-bottom: 10px;
}

.features-item p {
  font-size: 18px;
}

/* Footer Styles */
footer {
  background-color: #393939;
  padding: 20px 24px;
  color: white;
  width: 100%;
  height: 180px;
  flex-shrink: 0;
}

footer h5 {
  font-family: 'Modak', cursive;
  font-size: 36px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links {
  margin-top: 5px;
}

.footer-links p {
  margin: 5px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3px;
  align-items: flex-end;
}

.footer-social p {
  margin-bottom: 10px;
}

.footer-social img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

/* Sign Up Styles */
.signup-musician {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
}

.signup-venue {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
}

.signup-musician h1 {
  color: #851191;
  text-shadow: none;
}

.signup-venue h1 {
  color: #0082DE;
  text-shadow: none;
}

.signin {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
}

.signin h1 {
  color: #FF9C00;
  text-shadow: none;
}

form p, input, textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

form label {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

form small {
  font-family: 'Poppins', sans-serif;
}
