body {
    padding: 50px;
    background-image: url(/images/landingtest2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    
  }

.main-content {
    padding: 50px;
    text-align: center;
    margin-top:70px;
    
}



h1, h2, h3, h4, h5, h6, p {
  font-family: 'Russo One', sans-serif;
  margin: 0;
  color:white;
}

h1 {
  font-size:100px;
}
p {
  margin-top:100px;
  font-size:25px;
}

.landing-btns {
  margin:20px;
}

.signin {
  margin-top:-70px;
  padding:10px;
 
}
.signin a {
  padding:20px;
  color:white;
  font-size: 18px;
  
 
}

  
a {
    color: blue;
    text-decoration: none;
    font-size: 14px;
    padding:50px;
  }
  
  form {
    margin: 30px auto;
    width: 380px;
  }
  
  form label {
    color: #666;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  .signup-backbtn {
    color: white;
    display:block;
    position:absolute;
    left: 300px;
    top:75px;
    font-size: 20px;;
    }
  
 
  
  form input,
  form button {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  form button {
    background: #43a3e6;
    border: 1px solid #43a3e6;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease background;
    width: 100%;
    margin-top: 20px;
  }
  
  form button:hover {
    background: #fff;
    color: #43a3e6;
    transition: 0.3s ease background;
  }
  
  .error {
    background: #f02b63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
  }
  
  ul {
    border-bottom: 2px solid #43a3e6;
    height: 30px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  ul li {
    line-height: 20px;
  }
  
  #to-right {
    padding: 1em;
    float: right;
  }
  
  #to-right span {
    color: #43a3e6;
    font-size: 1.5em;
  }
  
  #form h2 {
    display: flex;
    justify-content: center;
  }
  
  #to-left {
    float: left;
  }
  
  #to-left p a {
    color: #000;
    font-weight: bold;
    font-size: 2em;
  }
  