/* Navbar */

.navbar-custom {
    background-color: #851191;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: white;
    font-family: 'Modak', cursive;
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-toggler {
    border: none;
  } 
  
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
      color: #FF9C00;
  }
  
  .navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 500;
  }

  .others-header {
    text-align:center;
    height: 100px;
 }

 .others-header h2 {
     padding-top:10px;
     font-size:50px;
 }

  /* Home Page */
.main-page-div {
    display:flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Poppins', sans-serif;
}


.main-header-div {
    background-color:black;
    color:white;
    font-family: 'Modak', cursive;
    padding:10px;
    font
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    box-shadow: 10px 10px 8px #888888;  
    border-radius:5px;
}

.main-header-div button {
    font-size: 12px;
}


.main-header-div h2 {
    margin-bottom: 10px;
}

.form-div {
    text-align:center;
    font-family: 'Poppins', sans-serif;
    
}

.main-header-div input {
    width:150;
    margin:15px 0px;
    margin-top:10px;
    border:1px solid #851191;
    border-radius:10%;
}

.button {
    border-radius:25px;
    border:none;
    height:30px;
    width:120px;
    margin-bottom: 25px;
    background-color: #FF9C00;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
  
}

.active-tours {
    padding-top:20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    width:90%;
    margin-bottom:50px;
    
}

.active-tours h1 {
    margin:30px;
}

.tour-div {
    display: flex;
    
}

.tour-name {
  color:black;
  display: block;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position:absolute;
  top:65px;
  font-size:30px;
}

.card-footer {
    
}

.active-tours button {
    width:200px;
    height:50px;
    margin-top:40px;
    position:absolute;
    right:10px;
}

.secondary-button {
    width:70px;
    height:20px;
    margin:20px;
    font-size: 10px;
}

.back-button {
    background-color:#0082DE;
}


/* Tours */


.add-cities-div {
    margin:20px;
}

.search-city form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.search-city form button {
    margin-top:10px;
}

.display-cities {
    padding:10px;
    width:90%;
    border-radius:10px;
    font-size:15px;
}

.each-city {
    margin:10px;
    font-size:10px;
    width: 15rem;
    float:left;
    text-align:center;
}

.venues-on-tour-page {
    display:flex;
    border:1px solid black;
    margin: 5px 0px;
    padding:5px;
    justify-content:center;
    
}


.venues-on-tour-page p {
   margin-top:10px;
}

.city-confirmed {
    bottom:10px;
}

.backbtn-div {
    margin-left:-800px;
    margin-top:20px;
    font-size: 12px;
    
}


/* CITIES */

.search-venue {
    display:flex;
    margin:50px;
}

.filter-search-1 {

    display:flex;
    justify-content:center;
   
}

.filter-search-1 input {
    padding-left:5px;
}


.filter-search-1 select {
    padding-left:5px;
    height:30px;
    width:150px;
}

.capacity-div {
    margin-left:20px;
}

.filter-search-2 {
    display:flex;
    margin:20px;
}


.filter-search-2 label{
    margin-left:20px;
}

.filter-search-2 input {
    margin-top:5px;
    margin-left:10px;
}

.filter-btns{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.venues-in-city {
    margin-bottom:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.city-cards {
    width:75%;
} 

.img-square-wrapper {
    
}

/* Venue Info Page */

.venue-info-page-main {
    margin:20px;
    
}

.venue-info {
    display:flex;
    margin:50px 0px;
}

.venue-info img {
    margin-right: 100px;
}

.venue-info div {
    margin-top:50px;

}

