/* Navbar */

.navbar-custom {
    background-color: #851191;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: white;
    font-family: 'Modak', cursive;
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-toggler {
    border: none;
  } 
  
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
      color: #FF9C00;
  }
  
  .navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 500;
  }



  /* Home Page */
.main-page-div {
    display:flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Poppins', sans-serif;
}


.main-header-div {
    background-color:black;
    color:white;
    font-family: 'Modak', cursive;
    padding:10px;
    
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    box-shadow: 10px 10px 8px #888888;  
    border-radius:5px;
}

.main-header-div h2 {
    margin-bottom: 10px;
}

.form-div {
    text-align:center;
    font-family: 'Poppins', sans-serif;
    
}

.main-header-div input {
    width:150;
    margin:15px 0px;
    margin-top:10px;
    border:1px solid red;
    border-radius:10%;
}

.button {
    border-radius:25px;
    border:none;
    height:30px;
    width:120px;
    margin-bottom: 25px;
    background-color: #FF9C00;
}

.active-tours div{
    display:flex;
    margin:20px;
    background-color:black;
    padding:10px;
    border-radius:5px;
    
}
.active-tours a {
    color:white;
}

.secondary-button {
    width:70px;
    height:20px;
    margin:20px;
    font-size: 10px;
}

.back-button {
    background-color:#0082DE
}


/* Tours */

.tours-header {
   text-align:center;
   height: 50px;
}
.tours-header {
  padding-bottom:20px;
}

.add-cities-div {
    margin:20px;
}

.search-city form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.search-city form button {
    margin-top:10px;
}

.display-cities {
    padding:10px;
    width:90%;
    border-radius:10px;
    font-size:15px;
}

.each-city {
    margin:10px;
    font-size:10px;
    width: 15rem;
    float:left
}

.city-confirmed {
    bottom:10px;
}

.backbtn-div {
    position:relative;
    margin:20px;
}


/* CITIES */

.search-venue {
    display:flex;
    margin:50px;
}

