<div>This is the musician home</div>

<h2>Hello {{musicianData.name}}</h2>




<form method="POST" action="/home/musician">
    <div><label for="name">Tour Name:</label>
        <input type="name" name="name" id="name" >
    </div>
    
    <input type="text" name="city" id="searchbar" placeholder="Search for a city..">
    <a><button>Build Tour</button></a>
</form>

<button type="submit">Add City</button>

<h1>Active Tours</h1>